[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:bunbun205/imgui.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:bunbun205/spdlog.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
